<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is a title</title>
</head>
<body>
    <h1>FORM</h1>

    <form action="/submitNewEmployee" method="POST">
        <p>
            First Name : <input type="text" name="firstName"/>
        </p>
        <p>
            Last Name: <input type="text" name="lastName"/>
        </p>
        <p>
            Address: <input type="text" name="address"/>
        </p>
        <p>
            Address: <input type="text" name="employeeId"/>
        </p>
        <input type="submit" value="Create New Employee"/>
    </form>
</body>
</html>