<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/postMappingExample" method="POST">
    <input type="submit" value="Click Me to trigger POST Request"/>
        <p>
            First Input : <input type="text" name="input1"/>
        </p>
        <p>
            Second Input : <input type="text" name="input2"/>
        </p>
    </form>

    <form action="/getMappingExample" method="GET">
        <input type="submit" value="Click Me to trigger GET Request"/>
        <p>
            First Input : <input type="text" name="input1"/>
        </p>
        <p>
            Second Input : <input type="text" name="input2"/>
        </p>
    </form>
</body>
</html>